body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.content {
    display: block;
}

.clip {
    width: 80%;
    height: 90vh;
}

.controls button {
    width: 20%;
    height: 10%;
}
